body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    overflow-x: hidden;
    position: relative;

}



.btn-primary {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.section {
    padding: 80px 0;
}


/* Floating shapes */
.floating {
    position: absolute;
    font-size: 2rem;
    opacity: 0.7;
    animation: floatMove 8s infinite;
}

@keyframes floatMove {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-30px) translateX(30px);
    }

    100% {
        transform: translateY(0) translateX(60px);
    }
}

/* Hero styling */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
}

.section {
    padding: 80px 0;
}
